.nav-link-large {
    font-size: 1.7rem; /* Ajusta el tamaño  */
    color: aliceblue;
}
.nav{
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-navbar-color);
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-container {
    
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
    overflow: hidden;
}
.bg-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor manteniendo la relación de aspecto */
    transform: translate(-50%, -50%);
    z-index: -1; /* Coloca la imagen detrás del contenido */
    opacity: 0.8; /* Ajusta la opacidad según sea necesario */
}
.logo-image {
    height: 2.5rem; /* Ajusta esta altura según sea necesario para que coincida con el tamaño del texto */
}
.centered-title {
    font-size: 3em; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: bold;
}
body{
    background-color: rgb(255, 255, 255);
}